<h1>Events</h1>

<h2>Upcoming: </h2>
<ul>
  <% @events.future.each do |event| %>
    <li>
      <a href="/events/<%= event.id %>">
        <%= event.title %>
      </a>
      - <%= event.date %>
    </li>
  <% end %>
</ul>

<h2>Past: </h2>
<ul>
  <% @events.past.each do |event| %>
    <li>
      <a href="/events/<%= event.id %>">
        <%= event.title %>
      </a>
      - <%= event.date %>
    </li>
  <% end %>
</ul>


<% if user_signed_in? %>
  <%= button_to "Create Event", new_event_path, method: :get  %>
<% end %>
