<h1>New Event!</h1>

<%= form_with model: @event do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :date %>
  <%= form.datetime_select :date %>
  <%= form.label :location %>
  <%= form.text_field :location %>
  <%= form.submit "Create" %>
<% end %>
