<h1><%= @event.title %></h1>

<p>Date: <%= @event.date %></p>

<p>Location: <%= @event.location %></p>

<p>Creator: <%= @event.creator.username %>

<p>Attendees: </p>
  <ul>
    <% @event.attendees.each do |attendee| %>
      <li>
        <a href="/users/<%= attendee.id %>">
          <%= attendee.username %>
        </a>
      </li>
    <% end %>
  </ul>

<% if user_signed_in? %>
  <% if current_user != @event.creator %>
    <% if !@event.event_attendees.exists?(attendee_id: current_user.id) %>
      <%= button_to "I am attending this event.", event_attendees_path, params: { event_id: @event.id, attendee_id: current_user.id }%>
    <% else %>
      <%= button_to "I am no longer attending this event.", event_attendee_path, method: :delete, params: { event_id: @event.id, attendee_id: current_user.id } %>
    <% end %>
  <% else %>
    <%= button_to "Edit", edit_event_path, method: :get %>
    <%= button_to "Delete", event_path, method: :delete, data: { confirm: "Are you sure?" }%>
  <% end %>
<% end %>
